Repository lava-nc/lava, pull requests merged in 2021-11, with the labels that each got.

#22 Added @tags decorator to tag ProcessModels and distinguish them
  lava/magma/core/decorator.py
  tests/magma/core/model/test_decorators.py
Labels: enhancement, needs-review, core

#37 Remove unused channel_utils
  src/lava/magma/compiler/channels/channel_utils.py
Labels: bug, compiler

#29 Refactor Message Infrastructure
  src/lava/magma/compiler/builder.py
  src/lava/magma/compiler/channels/interfaces.py
  src/lava/magma/compiler/channels/pypychannel.py
  src/lava/magma/compiler/compiler.py
  src/lava/magma/core/process/message_interface_enum.py
  src/lava/magma/core/process/process.py
  src/lava/magma/runtime/message_infrastructure/__init__.py
  src/lava/magma/runtime/message_infrastructure/factory.py
  src/lava/magma/runtime/message_infrastructure/message_infrastructure_interface.py
  src/lava/magma/runtime/message_infrastructure/multiprocessing.py
  src/lava/magma/runtime/runtime.py
  tests/lava/magma/compiler/channels/test_pypychannel.py
  tests/lava/magma/compiler/test_channel_builder.py
  tests/lava/magma/compiler/test_compiler.py
  tests/lava/magma/runtime/test_runtime.py
  tests/lava/magma/runtime/test_runtime_service.py
Labels: enhancement, reviewed-approved

#58 Add missing license in utils folder
  src/lava/utils/LICENSE
Labels: bug

#38 Add auto Runtime.stop()
  src/lava/magma/core/process/process.py
  src/lava/magma/runtime/runtime.py
Labels: enhancement, runtime, core

#46 Enablement of RefPort to Var/VarPort connections
  src/lava/magma/compiler/builder.py
  src/lava/magma/compiler/compiler.py
  src/lava/magma/compiler/utils.py
  src/lava/magma/core/model/interfaces.py
  src/lava/magma/core/model/py/model.py
  src/lava/magma/core/model/py/ports.py
  src/lava/magma/core/process/ports/ports.py
  src/lava/magma/runtime/runtime_service.py
  tests/lava/magma/compiler/test_compiler.py
  tests/lava/magma/core/model/test_py_model.py
  tests/lava/magma/core/process/test_ports.py
  tests/lava/magma/runtime/test_get_set_var.py
  tests/lava/magma/runtime/test_ref_var_ports.py
Labels: enhancement, runtime, core, compiler

#69 Support float data type for get/set value of Var
  src/lava/magma/compiler/compiler.py
  src/lava/magma/core/model/py/model.py
  src/lava/magma/runtime/mgmt_token_enums.py
  src/lava/magma/runtime/runtime.py
  src/lava/magma/runtime/runtime_service.py
  tests/lava/magma/runtime/test_get_set_var.py
Labels: bug, runtime, core, compiler

#67 Disable non-blocking execution
  src/lava/magma/core/process/process.py
  src/lava/tutorials/in_depth/tutorial04_execution.ipynb
  tests/lava/magma/core/process/test_process.py
Labels: bug, core

#87 Performance improvements
  src/lava/magma/compiler/channels/pypychannel.py
  src/lava/magma/core/model/py/model.py
  src/lava/magma/core/model/py/ports.py
  src/lava/magma/runtime/mgmt_token_enums.py
  src/lava/magma/runtime/runtime.py
  src/lava/magma/runtime/runtime_service.py
Labels: enhancement, needs-review

#80 Enabling monitoring/probing of Vars and OutPorts of processes with Monitor Process
  src/lava/magma/compiler/builder.py
  src/lava/magma/compiler/compiler.py
  src/lava/magma/core/model/py/model.py
  src/lava/magma/core/process/process.py
  src/lava/proc/monitor/models.py
  src/lava/proc/monitor/process.py
  tests/lava/proc/monitor/__init__.py
  tests/lava/proc/monitor/test_monitors.py
Labels: enhancement, needs-review, proc, compiler

#99 Tutorial for shared memory access (RefPorts)
  src/lava/magma/compiler/compiler.py
  src/lava/magma/core/process/ports/ports.py
  src/lava/tutorials/in_depth/tutorial07_remote_memory_access.ipynb
  tests/lava/magma/core/process/test_ports.py
Labels: tutorial

#107 Move tutorial07
  tutorials/in_depth/tutorial05_connect_processes.ipynb
  tutorials/in_depth/tutorial07_remote_memory_access.ipynb
Labels: tutorial

#106 Added Unit tests for branching/merging of IO ports
  tests/lava/magma/runtime/test_io_ports.py
Labels: testing

#105 Connection tutorial finished
  tutorials/in_depth/tutorial05_connect_processes.ipynb
Labels: tutorial

#110 Fix for issue #109, Monitor unit test failing non-deterministically
  src/lava/proc/monitor/models.py
  tests/lava/proc/monitor/test_monitors.py
Labels: bug

#94 Fix README.md Example Code
  README.md
Labels: bug

#96 Added empty list attribute `tags` to `AbstractProcessModel`
  src/lava/magma/compiler/compiler.py
  src/lava/magma/core/model/model.py
  src/lava/magma/core/run_configs.py
  src/lava/proc/monitor/models.py
  tests/lava/proc/monitor/test_monitors.py
Labels: enhancement, needs-review
