Repository lava-nc/lava, pull requests merged in 2022-09, with the labels that each got.

#309 Ei network tutorial
  tests/lava/tutorials/test_tutorials.py
  tutorials/end_to_end/convert_params.py
  tutorials/end_to_end/tutorial02_excitatory_inhibitory_network.ipynb
Labels: tutorial

#364 Fix issue 334
  src/lava/proc/lif/models.py
Labels: bug, lif

#374 Public processes for optimization solver
  src/lava/proc/cost_integrator/models.py
  src/lava/proc/cost_integrator/process.py
  src/lava/proc/read_gate/models.py
  src/lava/proc/read_gate/process.py
  src/lava/proc/receiver/models.py
  src/lava/proc/receiver/process.py
  src/lava/proc/spiker/models.py
  src/lava/proc/spiker/process.py
  tests/lava/proc/spiker/test_models.py
Labels: enhancement

#371 Eliminate design issues in learning-related code
  src/lava/magma/core/learning/learning_rule.py
  src/lava/magma/core/model/py/connection.py
Labels: bug
